{{ define "title" }}lov3ly.me - Contact{{ end }}

{{define "extrahead"}}{{end}}

{{ define "content" }}
<form class="form-horizontal" action="" method="POST">
	<legend>
		Contact
	</legend>
	<div class="control-group {{if .ctx.Data.result.Errors.name }}error{{ end }}">
		<label class="control-label" for="name">{{ trans "Name" .ctx }}</label>
		<div class="controls">
			<input type="text" id="name" name="name"
				placeholder="{{ trans "Name" .ctx }}"
				value="{{ .ctx.Data.result.Values.name }}"> <span
				class="help-inline">{{ .ctx.Data.result.Errors.name }}</span>
		</div>
	</div>
	<div class="control-group {{if .ctx.Data.result.Errors.email }}error{{ end }}">
		<label class="control-label" for="email">{{ trans "E-mail" .ctx }}</label>
		<div class="controls">
			<input type="text" id="email" name="email" placeholder="{{ trans "E-mail" .ctx }}"
				value="{{ .ctx.Data.result.Values.email }}"> <span
				class="help-inline">{{ .ctx.Data.result.Errors.email }}</span>
		</div>
	</div>
	<div class="control-group {{if .ctx.Data.result.Errors.message }}error{{ end }}">
		<label class="control-label" for="message">{{ trans "Message" .ctx }}</label>
		<div class="controls">
			<textarea id="message" name="message" placeholder="{{ trans "Message" .ctx }}" rows="3" cols="60">{{ .ctx.Data.result.Values.message }}</textarea>
			<span class="help-inline">{{ .ctx.Data.result.Errors.message }}</span>
		</div>
	</div>	
	<input type="hidden" name="csrf_token" value="{{ .ctx.Session.Values.csrf_token }}"/>
	<button type="submit" class="btn btn-primary">
		{{ trans "Send Message" .ctx }}
	</button>
</form>
{{ end }}

{{define "extrascripts"}}{{end}}
