{{define "title"}}lov3ly.me - FAQ{{end}}

{{define "extrahead"}}{{end}}

{{ define "content" }}
<div class="row">
    <div class="offset2 span8">
        <h2>HOW IT WORKS</h2>
        <div id="top"></div>
        <ul>
            <li><a class="index" href="#whatisit">What is it?</a></li>
            <li><a class="index" href="#upload">Uploading Photos</a></li>
            <li><a class="index" href="#contests">Contests</a></li>
            <li><a class="index" href="#comments">Comments</a></li>
            <li><a class="index" href="#messages">Private Messages</a></li>
            <li><a class="index" href="#filter">Filter Bar</a></li>
            <li><a class="index" href="#ranking">Rankings</a></li>
        </ul>
        
        
        <h3 id="whatisit">What is it?</h3>
        <a class="small index" href="#top">Top</a>
        <p>lov3ly.me is an online beauty contest. You can upload personal photos and find out how attractive or photogenic you are.</p>
        <p>You can compete or vote on photos in the general section which can be filtered using the <a class="index" href="#filter">Filter Bar</a>, or you photos in <a class="index" href="#contests">Contests</a> and compete there.</p>
        <p>lov3ly.me is not all about competing against others. You can upload as many photos as you like and find out which one is the most appreciated. You can change your hair style, clothes and make-up to see which style suites you best.</p>
        <h4 id="upload">Uploading Photos</h4>
        <a class="small index" href="#top">Top</a>
        <table class="table">
            <tr>
                <td><p>You can upload photos using the <strong>My photos</strong> menu item from the top of the page.</p></td>
                <td><img src="/static/img/pages/menu_photos.png" alt="page-img"></td>
            </tr>
        </table>
        
        <table class="table">
            <tr>
                <td><img src="/static/img/pages/upload.png" alt="page-img"></td>
                <td>
                    <p>You are presented with an upload form where you can select the photo by clicking the <strong>Choose File</strong> button.</p>
                    <p>Finding a catchy title and description can add to your photo appeal.</p>
                    <p>If you un-check the Active option than your photo will be hidden for the rest of the users.</p>
                </td>
            </tr>
        </table>
        
        <table class="table">
            <tr>
                <td><p>If your photo represents you at a younger age or was taken while you were living somewhere else, you can change all these expanding <strong>Extra info</strong> section</p></td>
                <td><img src="/static/img/pages/extra_upload.png" alt="page-img"></td>
            </tr>
        </table>
        <table class="table">
            <tr>
                <td><img src="/static/img/pages/crop.png" alt="page-img"></td>
                <td><p>After selecting the file you are presented with a cropping dialog where you can select only a part of your image. This part is mandatory if the photo contains other people or animals.</p></td>
            </tr>
        </table>        
        <h4 id="contests">Contests</h4>
        <a class="small index" href="#top">Top</a>
        <table class="table">
            <tr>
                <td><p>You can create contest by selecting <strong>My Contest</strong> from the top menu bar.</p></td>
                <td><img src="/static/img/pages/menu_contests.png" alt="page-img"></td>
            </tr>
        </table>
        <table class="table">
            <tr>
                <td style="min-width: 190px;"><img src="/static/img/pages/contest_form.png" alt="page-img"></td>                
                <td>
                    <p>Entering a descriptive title and complete description will reduce the number of unwanted users that apply for your contest.</p>
                    <p>When creating a contest you can enter Country and/or a City to make your contest specific to a geographical region. These are used for the users that use the <a class="index" href="#filter">Filter Bar</a> to browse the site.</p>
                    <p>If you do not check the <strong>Verify before accepting?</strong> option the users will be abble to register photos in your contest without your approval.</p>
                    <p><strong>Admission Deadline</strong> is the deadline date for users to enroll photos in your contes. After the admission is over the voting is enabled and lasts until the <strong>Voting Deadline</strong>.
                    Both periods can be maximum one month but is advisable to make them shorter so the users will not loose thei patience. Find the best ranges for your context.</p>
                </td>
            </tr>
        </table>
        <table class="table">
            <tr>
                <td>You can see the status of your contests or approve user enrollment using the contest table in this section.</td>
                <td><img src="/static/img/pages/contests.png" alt="page-img"></td>                
            </tr>
        </table>
        <h4 id="comments">Comments</h4>
        <a class="small index" href="#top">Top</a>
        <table class="table">
            <tr>
                <td><p>If you are logged in you can post comments for photos and contests. Pressing the send button or the enter key will send the message</p>
                    <p><span class="label label-info">Tip</span> You can jump to a new line in your message by holding the Shift key and pressing Enter key.</p></td>
                <td><img src="/static/img/pages/comment.png" alt="page-img"></td>
            </tr>
        </table>
        <h4 id="messages">Private messages</h4>
        <a class="small index" href="#top">Top</a>
        <table class="table">
            <tr>
                <td><img src="/static/img/pages/menu_messages.png" alt="page-img"></td>
                <td><p>Private message is sent to a specific user and only that user can read the message.</p>
                    <p>To read your messages you can click on the <strong>My Messages</strong> on the top menu bar.</p>
                </td>
            </tr>
        </table>
        <h4 id="filter">Filter Bar</h4>
        <a class="small index" href="#top">Top</a>
        <table class="table">
            <tr>                
                <td>
                    <p>You can filter the photos and contests you see on the site using the filter bar located right below the top menu bar.</p>
                    <p>The filter is saved in your session so it will remain active until you change it ore clear it.</p>
                    <p><span class="label label-info">Tip</span> You can clear all filter fields by pressing the <strong>x</strong> on the left of <strong>Filter</strong> button</p>
                </td>
                <td><img src="/static/img/pages/filter.png" alt="page-img"></td>
            </tr>
        </table>
        <h4 id="ranking">Rankings</h4>
        <a class="small index" href="#top">Top</a>
        <table class="table">
            <tr>
                <td><img src="/static/img/pages/rankings.png" alt="page-img"></td>
                <td><p>Private message is sent to a specific user and only that user can read the message.</p>
                    <p>To read your messages you can click on the <strong>My Messages</strong> on the top menu bar.</p>
                </td>
            </tr>
        </table> 
    </div> <!-- span -->
</div> <!-- row -->
<table class="table">
            <tr>
                <td></td>
                <td></td>
            </tr>
        </table>
{{ end }}

{{define "extrascripts"}}
<script>
$("a.index").click(function(e) {
    var link = $(this);
    $('html,body').animate({scrollTop: $(link.attr('href')).offset().top - 50}, 'slow');
    return false;
});
</script>
{{end}}
