{{define "title"}}lov3ly.me - FAQ{{end}}

{{define "extrahead"}}{{end}}

{{ define "content" }}
<h2>TERMS OF USAGE</h2>

<h3>Sharing Your Content and Information</h3>

<ol>
<li>You own all of the content and information you post on lov3ly.me, and you can control how it is shared through your privacy and application settings. In addition:</li>
<li>For content that is covered by intellectual property rights, like photos, you specifically give us the following permission, subject to your privacy and application settings: you grant us a non-exclusive, transferable, sub-licensable, royalty-free, worldwide license to use any IP content that you post on or in connection with lov3ly.me (IP License). This IP License ends when you delete your IP content or your account unless your content has been enrolled in contests, and they have not deleted it.</li>
<li>When you delete IP content, it is deleted in a manner similar to emptying the recycle bin on a computer. However, you understand that removed content may persist in backup copies for a reasonable period of time (but will not be available to others).</li>
<li>When you publish content or information using the Public setting, it means that you are allowing everyone, including people off of lov3ly.me, to access and use that information, and to associate it with you (i.e., your name and profile picture).</li>
<li>We always appreciate your feedback or other suggestions about lov3ly.me, but you understand that we may use them without any obligation to compensate you for them (just as you have no obligation to offer them).</li>
</ol>

<h3>Safety</h3>

<ol>
<li>We do our best to keep lov3ly.me safe, but we cannot guarantee it. We need your help to keep lov3ly.me safe, which includes the following commitments by you:</li>
<li>You will not post unauthorized commercial communications (such as spam) on lov3ly.me.</li>
<li>You will not collect users' content or information, or otherwise access lov3ly.me, using automated means (such as harvesting bots, robots, spiders, or scrapers) without our prior permission.</li>
<li>You will not engage in unlawful multi-level marketing, such as a pyramid scheme, on lov3ly.me.</li>
<li>You will not upload viruses or other malicious code.</li>
<li>You will not solicit login information or access an account belonging to someone else.</li>
<li>You will not bully, intimidate, or harass any user.</li>
<li>You will not post content that: is hate speech, threatening, or pornographic; incites violence; or contains nudity or graphic or gratuitous violence.</li>
<li>You will not use lov3ly.me to do anything unlawful, misleading, malicious, or discriminatory.</li>
<li>You will not do anything that could disable, overburden, or impair the proper working or appearance of lov3ly.me, such as a denial of service attack or interference with page rendering or other lov3ly.me functionality.</li>
<li>You will not facilitate or encourage any violations of this Statement or our policies.</li>
</ol>
 
<h3>Registration and Account Security</h3>

<ol>
<li>lov3ly.me users provide their real names and information, and we need your help to keep it that way. Here are some commitments you make to us relating to registering and maintaining the security of your account:</li>
<li>You will not provide any false personal information on lov3ly.me, or create an account for anyone other than yourself without permission.</li>
<li>You will not create more than one personal account.</li>
<li>You will not use your personal comments for your own commercial gain (such as selling your status update to an advertiser).</li>
<li>You will not use lov3ly.me if you are under 13.</li>
<li>You will not use lov3ly.me if you are a convicted sex offender.</li>
<li>You will keep your contact information accurate and up-to-date.</li>
<li>You will not share your password (or in the case of developers, your secret key), let anyone else access your account, or do anything else that might jeopardize the security of your account.</li>
<li>You will not transfer your account to anyone without first getting our written permission.</li>
<li>If you select a username or similar identifier for your account or Page, we reserve the right to remove or reclaim it if we believe it is appropriate (such as when a trademark owner complains about a username that does not closely relate to a user's actual name).</li>
</ol>
 
<h3>Protecting Other People's Rights</h3>

<ol>
<li>We respect other people's rights, and expect you to do the same.</li>
<li>You will not post content or take any action on lov3ly.me that infringes or violates someone else's rights or otherwise violates the law.</li>
<li>We can remove any content or information you post on lov3ly.me if we believe that it violates this Statement or our policies.</li>
<li>If we remove your content for infringing someone else's copyright, and you believe we removed it by mistake, we will provide you with an opportunity to appeal.</li>
<li>If you repeatedly infringe other people's intellectual property rights, we will disable your account when appropriate.</li>
<li>You will not use our copyrights or trademarks (including lov3ly.me, the lov3ly.me Logos), or any confusingly similar marks, except with our prior written permission.</li>
<li>If you collect information from users, you will: obtain their consent, make it clear you (and not lov3ly.me) are the one collecting their information, and post a privacy policy explaining what information you collect and how you will use it.</li>
<li>You will not post anyone's identification documents or sensitive financial information on lov3ly.me.</li>
</ol>
{{ end }}

{{define "extrascripts"}}{{end}}